* {
    margin: 0;
    padding: 0;
}

h1 {
 font-family: Verdana;
 margin-top: 20px;
 font-size: 40px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
    background: linear-gradient(90deg, #BADA55, rgb(36, 78, 71));
}

.buttondiv {
   display: flex;
   justify-content: center;
   gap: min(70px,15vw);
   padding-left: 5vw;
   padding-right: 5vw;
}

.container {
    box-sizing: border-box;
    width: min(700px,98vw);
    height: min(700px,98vw);
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-around;
}

.griddiv {
    min-width: 100%;
    min-height: 1px;
    background-color: rgb(255,255,255);
    /*border: 1px solid black;*/
    /*borders were used to debug the divs*/
    flex: 1;
}

.columndiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100%;
    min-width: 1px;
    flex: 1;
    /*border: 1px solid green;*/
    /*borders used for debugging*/
}

button {
    font-size: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 6%;
}